*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    background-color: #f5f8fa;
    width: 100%;
    position:fixed;
}

.header-bottom {
    background-color: white;
    padding-top: 100px;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.header-top-left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
}

.header-top-left i, .header-top-left span, .header-top-right i, .header-top-left a {
    cursor: pointer;
}

.fa-globe {
    padding-right: 5px;
}

.header-top-right .fa-sort-down {
    padding-left: 10px;
    padding-right: 12px;
    border-right: 2px solid #cbd6e2;
}

.contactsales {
    padding-left: 15px;
}

.header-top-right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
}

.fa-search {
    color: dodgerblue;
}

.btn {
    padding: 12px 30px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ff7a59;
    margin-left: 8px;
    color: #ff7a59;
    text-decoration: none;
    font-weight: 700;
}

.btn-orange {
    background-color: #ff7a59;
    padding:10px;
    margin-right: 5%;
    color: white;
    font-weight: 500;
    font-size: 14px;
}


.header-bottom-left {
    width: 40%;
    float: left;
}

.logo-hubspot {
    padding-top: 35px;
}

.header-bottom-right {
    width: 60%;
    float: left;
}

#elenco-hbr li {
    list-style-type: none;
    float: left;
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-right: 15px;
    padding-left: 15px;
}

#elenco-hbr a:nth-of-type(1) {
    color: black;
}

#elenco-hbr i:nth-child(2) {
    padding: 0 10px;
    cursor: pointer;
}

section {
    background-color: rgb(255, 235, 205 , 0.4);
}

.blocco-sinistro {
    width: 40%;
    float: left;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
    margin-top: 10%;
    color: #33475b
}

.blocco-sinistro div:nth-child(2) {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.btn-hubspot {
    background-color: #ff7a59;
    color: white;
    font-weight: 700;
}

.blocco-sinistro div:last-child {
    margin-top: 10%;
    padding-right: 40%;
    font-size: 15px;
    margin-bottom: 10%;
}

#section3 {
    background-color: #f5f8fa;
}

.powerful {
    width: 34%;
    float: left;
}

.blocco-titolo {
    margin-top: 25%;
}

h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-right: 11%;
    color: #33475b;
}

.blocco-paragrafo p {
    font-size: 20px;
    line-height: 30px;
    padding-right: 10%;
}

.blocco-paragrafo {
    margin-top: 5%;
}

.blocco-verticale {
    margin-right: 14px;
    padding: 4%;
    font-size: 20px;
    color: #33475b;

}

#hubspot-crm {
    width: 64%;
    background-color: white;
    float: left;
    padding: 31px 50px 103px 50px;
    /* position: relative; */
    font-family: 'Open Sans', sans-serif;
    margin-top: 10%;

}

.fa-dot-circle-o {
    color: #ff7a59;
    display: inline-block;
}

h4 {
    margin-bottom: 3%;
    font-size: 23px;
    font-weight: 500;
    line-height: 40px;
    display: inline-block;
    color: #33475b;
}

#hubspot-crm p:nth-child(2) {
    font-size: 13px;
}

.popular {
    text-transform: uppercase;
    padding-top: 35px;
    font-size: 14px;
    font-weight: 600;
}

/* .popular::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #242424;
    width: 67%;
    margin-left: 15px;
    top: 278px;
    opacity: 0.1;
} */

.elenco {
    display: inline-block;
    width: 60%;
}

.blocco-verticale {
    width: 32%;
    height: 400px;
    background-color: white;
    float: left;
    margin-top: 25px;
}

.fa-check-circle {
    padding-right: 9px;
    color: #ff7a59;
}

.elenco-orizzontale li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5px;
    text-decoration: none;
}

.btn-getstarted {
    display:inline-block;
    width:37%;
    text-align: center;
    background-color: #ff7a59;
}

.btn-getstarted a{
    color: white;
    text-decoration: none;
}

.scale:hover {
    transform: scale(1.01);
}


h3 {
    display:inline-block;
    margin-left: 5px;
}

.blocco-verticale p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-top: 10%;
    line-height: 25px;
    color: #33475b;
    position:
    
}
