*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    background-color: #f5f8fa;
}

.header-bottom {
    background-color: white
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.header-top-left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    line-height: 100px;
    font-family: 'Roboto Mono', monospace;
}

.header-top-left i, .header-top-left span, .header-top-right i, .header-top-left a {
    cursor: pointer;
}

.fa-globe {
    padding-right: 5px;
}

.header-top-right .fa-sort-down {
    padding-left: 10px;
    padding-right: 20px;
    border-right: 2px solid #cbd6e2;
}

.contactsales {
    padding-left: 15px;
}

.header-top-right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
    line-height: 100px;
    font-family: 'Roboto Mono', monospace;
}

.btn {
    padding: 12px 30px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ff7a59;
    margin-left: 8px;
    color: #ff7a59;
    text-decoration: none;
    font-weight: 500;
}

.btn-orange {
    background-color: #ff7a59;
    padding:10px;
    margin-right: 5%;
    color: white;
}


.header-bottom-left {
    width: 40%;
    float: left;
}

.logo-hubspot {
    padding-top: 35px;
}

.header-bottom-right {
    width: 60%;
    float: left;
}

#elenco-hbr li {
    list-style-type: none;
    float: left;
    line-height: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-right: 15px;
    padding-left: 20px;
}

#elenco-hbr a:nth-of-type(1) {
    color: black;
}

#elenco-hbr i:nth-child(2) {
    padding: 0 10px;
    cursor: pointer;
}

section {
    height: 800px;
    background-color: rgb(255, 235, 205 , 0.4);
}

.blocco-sinistro {
    height: 500px;
    width: 40%;
    background-color: blue;
}
