*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.header-top {
    background-color: #f5f8fa;
    width: 100%;
    position:fixed;
    z-index: 100
}

.header-bottom {
    background-color: white;
    padding-top: 100px;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    color: rgb(51, 71, 91);
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.header-top-left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    line-height: 100px;
    color: rgb(51, 71, 91);
}

.header-top-left i, .header-top-left span, .header-top-right i, .header-top-left a {
    cursor: pointer;
}

.fa-globe {
    padding-right: 5px;
}

.header-top-right .fa-sort-down {
    padding-left: 10px;
    padding-right: 12px;
    border-right: 2px solid #cbd6e2;
}

.contactsales {
    padding-left: 15px;
}

.header-top-right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
    line-height: 100px;
}

.fa-search {
    color: dodgerblue;
}

.btn {
    padding: 12px 30px;
    background-color:#ff7a59;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.btn:hover {
    opacity: 0.6
}

.btn-login {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    padding: 9px 30px;
}

.btn-orange {
    padding:10px;
    margin-right: 5%;
    font-size: 14px;
    margin-left:8px
}

.header-bottom-left {
    width: 40%;
    float: left;
}

.logo-hubspot {
    padding-top: 35px;
}

.header-bottom-right {
    width: 60%;
    float: left;
}

#list-hbr li {
    list-style-type: none;
    text-decoration: none;
    float: left;
    line-height: 100px;
    font-weight: 700;
    padding-right: 15px;
    padding-left: 15px;
    color: rgb(51, 71, 91);
}

#list-hbr a {
    text-decoration: none;
}

#list-hbr a:nth-of-type(1) {
    color: black;
}

#list-hbr i:nth-child(2) {
    padding: 0 10px;
    cursor: pointer;
}

#second-section {
    background-color: rgb(255, 235, 205 , 0.4);
    background-image: url(images/bg.png);
    background-size: cover;
    padding-bottom: 30px;
}

.left-block {
    width: 40%;
    float: left;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
    margin-top: 10%;
    color: #33475b
}

.left-block div:nth-child(2) {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    color: rgb(51, 71, 91);
}

.left-block div:last-child {
    margin-top: 10%;
    padding-right: 40%;
    font-size: 15px;
    margin-bottom: 10%;
}

#third-section {
    background-color: #f5f8fa;
}

.powerful {
    width: 33%;
    float: left;
}

.title-block {
    margin-top: 25%;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #33475b;
}

.powerful h2 {

    padding-right: 11%;
}

.paragraph-block p {
    font-size: 20px;
    line-height: 30px;
    padding-right: 10%;
}

.paragraph-block {
    margin-top: 5%;
}

.vertical-block {
    margin-right: 1%;
    padding: 4%;
    font-size: 20px;
    color: #33475b;
    width: 32%;
    background-color: white;
    float: left;
    margin-top: 25px;
    margin-bottom: 10%
}

#hubspot-crm {
    width: 65%;
    background-color: white;
    float: left;
    padding: 31px 50px 103px 50px;
    margin-top: 10%;
}

.fa-dot-circle-o {
    color: #ff7a59;
    display: inline-block;
}

h4 {
    margin-bottom: 3%;
    font-size: 23px;
    font-weight: 500;
    line-height: 40px;
    display: inline-block;
    color: #33475b;
}

#hubspot-crm p:nth-child(2) {
    font-size: 13px;
}

.pf {
    text-transform: uppercase;
    padding-top: 35px;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 20px;
}

.pf-1 {
    position: relative;
}

.pf-1::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #242424;
    width: 74%;
    margin-left: 15px;
    top: 44px;
    opacity: 0.1;
}

.horizontal-block {
    display: inline-block;
    width: 54%;
}


.fa-check-circle {
    padding-right: 9px;
    color: #ff7a59;
}

.horizontal-list li {
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 13px;
}

#box-freecrm {
    display: inline-block;
    padding-left: 30px;
}

.btn-freecrm {
    padding: 15px 66px;
    text-align: center;
}

.scale:hover {
    transform: scale(1.01);
}

h3 {
    display:inline-block;
    margin-left: 5px;
}

#marketing-block {
    padding-top: 47px;
}

.vertical-block p {
    font-size: 13px;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 25px;
    color: #33475b;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.vertical-list {
    margin-bottom: 10%;
}

.vertical-list li {
    font-size: 16px;
    padding-bottom: 10px;
    list-style-type: none;
}

#fourth-section {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.line-description {
    width: 100%;
    float: left;
    text-align: center;
    padding: 6% 18%;
}

.line {
    float: left;
    width: 100%;
}

.lower-line{
    margin-bottom: 10%;
}

#title-fourthsection {
    color:white;
}

.line-description p {
    font-size: 17px;
    line-height: 26px;;
    padding-bottom:4%;
    padding-top: 4%;
    color:white;
}

.square {
    float: left;
    width: 25%;
    color:white;
    text-align: center;
    line-height: 50px;
    padding-top: 35px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.number {
    font-size: 50px;
    font-weight: bold;
    position: relative;
}


.more::after {
    content: '+';
    position: absolute;
    font-size: 25px;
}

#not-board {
    border-right: none;
}

.text {
    padding-bottom: 12px;
}

.lower {
    border-bottom: 0;
}

#fifth-section {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10%;
}

.higher-block {
    padding-bottom: 35%;
    padding-top: 8%;
}
.customers {
    width: 40%;
    float: left;
    padding-right: 10%;
}

.customers p:first-child {
    font-size: 45px;
    font-weight: 700;
}

.customers p:last-child {
    font-size: 20px;
    line-height: 29px;
}

.logos {
    width: 60%;
    float: left;
}

.list li {
    display: inline-block;
    width: 22%;
    vertical-align: middle;
    list-style-type: none;
}

.list ul img:only-child {
    width: 80%;
}

.lower-list {
    margin-top: 50px;
}

.start-growing {
    width: 60%;
    float: left;
    padding-right: 19%;
}

.start-growing p:first-child {
    font-size: 30px;
    font-weight: 600;
}

.start-growing p:nth-child(2) {
    line-height: 30px;
    padding: 10% 0;
}

.start-growing p:last-child {
    font-size: 13px;
    padding-top: 10%;
}

.box-imgwoman {
    width: 40%;
    float: left;
    padding-left: 5%;
}

.img-woman {
    width: 100%;
    height: 400px;
    background-image: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/Variation-1@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    background-color: #33475b;
    color: #cbd6e2;
    padding-top:6%;
    padding-bottom: 50px;
}

.block {
    height: 300px;
    width: 25%;
    float: left;
}

.list {
    color: white;
    font-weight: 600;
    font-size: 17px;
    cursor: default;
}

.block-list li {
    list-style-type: none;
}

.block-list a {
     line-height: 40px;
     list-style-type: none;
     font-size: 15px;
     font-weight: 600;
     text-transform: capitalize;
     color: #cbd6e2;
     text-decoration: none;
 }

 .block-list a:hover, .social i:hover, .menu-languages a:hover, .footer-right span:hover {
     color: #0091ae;
 }

 #white {
     color: #fff;
     margin-left: 7px;
     cursor: pointer;
 }

.social ul {
    float: right;
    padding-right: 5%;
    font-size: 25px;
}

#empty-block {
    width: 74%;
    height: 62px;
    float: right;
}

.social li {
    display: inline-block;
}

.social i {
    padding-right: 15px;
    color: #cbd6e2;
    cursor: pointer;
}

.btn-support {
    color: #33475b;
    font-weight: 400;
    float: right;
    width: 19%;
    font-size: 14px;
    background-color: #fff;
    margin-right: 6%;
    border-radius: 3px;
    text-decoration: none;
    padding: 14px 16px;
 }

 .languages {
    width: 100%;
    display: inline-block;
    margin-top:20px;
    position: relative;
    font-weight: 600;
 }

.menu-languages {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5% 18%;
    border-bottom: 1px solid #7c98b6;
    margin-bottom: 5%;
}

 .languages li {
     list-style-type: none;
     text-transform: capitalize;
     display: inline-block;
     padding-right: 34px;
     font-size: 17px;
}

.languages a {
    text-decoration: none;
    display: inline-block;
    color: #cbd6e2;
}

.footer-left, .footer-right {
    width: 50%;
    float: left;
    color: #cbd6e2;
}

.footer-right {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

.footer-right span {
    cursor: pointer;
}

#copyright {
    padding-top: 10px;
}

#privacy {
    padding-left: 5%;
}

#chat {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 0 solid;
    background-color: rgb(66, 91, 118);
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

#chat:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}
